@*@model IEnumerable<WebBanHangOnline.Models.EF.Student>*@
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Danh sách học sinh</h2>
<div class="row mb-5">
    <div class="col-md-12">
        <a href="#" class="btn btn-primary"  data-toggle="modal" data-target="#modalCreateUpdate">Thêm mới</a>
    </div>
</div>
<table class="table table-bordered">
    <thead>
        <tr>
            <td>STT</td>
            <td>Name</td>
            <td>Age</td>
            <td></td>
        </tr>
    </thead>
    <tbody id="show_data">

    </tbody>
    @*@if (Model != null && Model.Any())
    {
        var i = 1;
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>@item.Age</td>
                    <td><a href="">Edit</a> | <a>Delete</a></td>
                </tr>
                i++;
            }
        </tbody>
    }
    else
    {
        <tbody>
            <tr>
                <td colspan="4">Không có bản ghi nào</td>
            </tr>
        </tbody>
    }*@
</table>

<!-- Button trigger modal -->
@*<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Launch demo modal
</button>*@

<!-- Modal -->
<div class="modal fade" id="modalCreateUpdate" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Cập nhật thông tin học sinh</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="exampleInputName">Họ và tên</label>
                    <input type="hidden" id="exampleId" value="0"/>
                    <input type="text" class="form-control" id="exampleInputName" placeholder="Nhập họ và tên">
                    <span class="error text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="exampleInputAge">Tuổi</label>
                    <input type="text" class="form-control" id="exampleInputAge" placeholder="Nhập tuổi">
                    <span class="error text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="exampleInputClass">Lớp</label>
                    <select class="form-control" id="exampleInputClass">
                        <option value="">Chọn lớp</option>
                        @for (var k = 6; k< 13; k++){
                            <option value="@k">@k</option>
                        }
                    </select>
                    <span class="error text-danger"></span>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="btnLuu">Lưu lại</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            LoadData();
            $('#btnLuu').click(function () {
                var name = $('#exampleInputName').val();
                var age = $('#exampleInputAge').val();
                var _class = $('#exampleInputClass').val();
                var _id = $('#exampleId').val();
                var model = {
                    Name: name,
                    Age: age,
                    Class: _class,
                    Id: _id
                };
                if (Validate()) {
                    $.ajax({
                        url: '/admin/student/Create',
                        type: 'POST',
                        data: model,
                        success: function (res) {
                            if (res.success) {
                                if (res.success) {
                                    LoadData();
                                    ResetInput();
                                    $('#modalCreateUpdate').modal('hide');
                                }
                            }
                        }
                    });
                }
            });
            $('body').on('click', '.btnEdit', function () {
                var id = $(this).data('id');
                GetDataById(id);
            });
        });

        function LoadData() {
            $.ajax({
                url: '/admin/student/getdata',
                type: 'GET',
                success: function (res) {
                    if (res.TotalItems > 0) {
                        var items = res.Data;
                        var html = "";
                        for (let i = 0; i < res.TotalItems; i++) {
                            html += "<tr>";
                            html += "<td>" + (i + 1) + "</td>";
                            html += "<td>" + items[i].Name + "</td>";
                            html += "<td>" + items[i].Age + "</td>";
                            html += "<td><a data-id='" + items[i].Id +"' href='#' class='btn btn-warning btnEdit' id='modalCreateUpdate' >Sửa</a> | <a href='#' class = 'btn btn-danger'>Xóa</a></td>";
                            html += "</tr>";
                        }
                        $('#show_data').html(html);
                    }
                    console.log(res);
                }
            });
        }

        function GetDataById(id) {
            $.ajax({
                url: '/admin/student/getbyid',
                type: 'GET',
                data: { id: id },
                success: function (res) {
                    if (res.data != null) {
                        $('#exampleInputName').val(res.data.Name);
                        $('#exampleInputAge').val(res.data.Age);
                        $('#exampleInputClass').val(res.data.Class);
                        $('#exampleId ').val(res.data.Id);
                        $('#modalCreatedUpdate').modal('show');
                    }
                }
            })
        }

        function Validate() {
            var check = false;

            var name = $('#exampleInputName').val();
            if (name === '') {
                $('#exampleInputName').next().html('Bạn chưa nhập họ và tên');
                check = false;
              
            } else {
                $('#exampleInputName').next().html('')
                check = true;
            }

            var age = $('#exampleInputAge').val();
            if (age === '') {
                $('#exampleInputAge').next().html('Bạn chưa nhập tuổi');
                check = false;
              
            } else {
                $('#exampleInputAge').next().html('')
                check = true;
            }
            return check;
        }

        function ResetInput() {
            $('#exampleInputName').val('');
            $('#exampleInputAge').val('');
            $('#exampleInputClass').val('');

        }

    </script>
    }
