
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Table Form Example</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="table-form.js"></script>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Content/clients/plugins/fontawesome-free/css/all.min.css">
    <!-- daterange picker -->
    <link rel="stylesheet" href="~/Content/clients/plugins/daterangepicker/daterangepicker.css">
    <!-- iCheck for checkboxes and radio inputs -->
    <link rel="stylesheet" href="~/Content/clients/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Bootstrap Color Picker -->
    <link rel="stylesheet" href="~/Content/clients/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css">
    <!-- Tempusdominus Bootstrap 4 -->
    <link rel="stylesheet" href="~/Content/clients/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <!-- Select2 -->
    <link rel="stylesheet" href="~/Content/clients/plugins/select2/css/select2.min.css">
    <link rel="stylesheet" href="~/Content/clients/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">
    <!-- Bootstrap4 Duallistbox -->
    <link rel="stylesheet" href="~/Content/clients/plugins/bootstrap4-duallistbox/bootstrap-duallistbox.min.css">
    <!-- BS Stepper -->
    <link rel="stylesheet" href="~/Content/clients/plugins/bs-stepper/css/bs-stepper.min.css">
    <!-- dropzonejs -->
    <link rel="stylesheet" href="~/Content/clients/plugins/dropzone/min/dropzone.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Content/clients/dist/css/adminlte.min.css">
    <!-- PagedList style -->
    <link href="~/Content\PagedList.css" rel="stylesheet" />

</head>
<body>
    <form action="" id="new-application-step3">
        <div class="card">
            <div class="card-body border-0 row dataTables_wrapper">
                <div class="col-sm-12">
                    <table class="table table-hover table-bordered table-striped dataTable dtr-inline" aria-describedby="example2_info" id="newApplicationStep3Table">
                        <thead class="text-center">
                            <tr>
                                <th width="5%">Seq</th>
                                <th width="45%">Name</th>
                                <th width="10%">Gender</th>
                                <th width="10%">Age</th>
                                <th width="15%">HK ID</th>
                                <th width="15%">Passport No.</th>
                                @*<th width="10%">Options</th>*@
                            </tr>
                        </thead>
                        <tbody class="text-center">
                            @{
                                var i = 1;
                                while (i <= 10)
                                {
                                    <tr class="userinfo ">
                                        <td class="pt-3">@i</td>
                                        <td><input class="form-control border-0 " type="text" name="newApplicationStep3Name" placeholder="Name" /></td>
                                        <td>
                                            <select class="form-control border-0 " name="newApplicationStep3Gender">
                                                <option value="0" selected="" disabled="">-SELECT-</option>
                                                <option value="Male">Male</option>
                                                <option value="Female">Female</option>
                                                <option value="Other">Other</option>
                                            </select>
                                        </td>
                                        <td><input class="form-control border-0 " type="number" name="newApplicationStep3Age" placeholder="Age" /></td>
                                        <td><input class="form-control border-0 " type="text" name="newApplicationStep3HKID" placeholder="HKID" /></td>
                                        <td><input class="form-control border-0 " type="text" name="newApplicationStep3PassportNo" placeholder="PassportNo" /></td>
                                        @*<td><input type="button" value="Delete" onclick="deleteRow(this)" /></td>*@
                                    </tr>
                                    i++;
                                }
                            }

                        </tbody>
                    </table>
                </div>
                <!-- /col-sm-12-->

            </div>

            <div class="card-footer row">
                <div class="col-sm-12 col-md-3">
                    <div class="dataTables_info " id="example2_info" role="status" aria-live="polite">Showing 1 to 10 of 57 entries</div>
                </div>
                <div class="col-sm-12 col-md-1">
                    <button type="button" onclick="insRow()">Add</button>
                </div>
                <div class="col-sm-12 col-md-1">
                    <button type="button" id="newApplicationStep3">Check table</button>
                </div>
                <div class="col-sm-12 col-md-7">
                    <div class="dataTables_paginate paging_simple_numbers justify-content-end float-right" id="example2_paginate">
                        <ul class="pagination border-danger">
                            <li class="paginate_button page-item previous disabled" id="example2_previous">
                                <a href="#" aria-controls="example2" data-dt-idx="0" tabindex="0" class="page-link">Previous</a>
                            </li>
                            <li class="paginate_button page-item active">
                                <a href="#" aria-controls="example2" data-dt-idx="1" tabindex="0" class="page-link">1</a>
                            </li>
                            <li class="paginate_button page-item ">
                                <a href="#" aria-controls="example2" data-dt-idx="2" tabindex="0" class="page-link">2</a>
                            </li>
                            <li class="paginate_button page-item ">
                                <a href="#" aria-controls="example2" data-dt-idx="3" tabindex="0" class="page-link">3</a>
                            </li>
                            <li class="paginate_button page-item ">
                                <a href="#" aria-controls="example2" data-dt-idx="4" tabindex="0" class="page-link">4</a>
                            </li>
                            <li class="paginate_button page-item ">
                                <a href="#" aria-controls="example2" data-dt-idx="5" tabindex="0" class="page-link">5</a>
                            </li>
                            <li class="paginate_button page-item ">
                                <a href="#" aria-controls="example2" data-dt-idx="6" tabindex="0" class="page-link">6</a>
                            </li>
                            <li class="paginate_button page-item next" id="example2_next">
                                <a href="#" aria-controls="example2" data-dt-idx="7" tabindex="0" class="page-link">Next</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /.row-->
            <!-- /.card-body -->
        </div>

        <div class="card border-0">
            <div class="row">
                <div class="col">
                    <div>
                        <label>Plan Selection :</label>
                        <span>ASIA PLAN</span>
                    </div>
                    <div>
                        <label>Premimum Package :</label>
                        <span>Individual (HK $ 142.00 per insured)</span>
                    </div>
                </div>
                <div class="col">
                    <div class="row pt-1 h-100">
                        <div class="col-6"></div>
                        <div class="col-3 h-100 align-middle justify-content-center">
                            <button type="button" class="btn btn-outline-danger btn-block btn-lg">Back</button>
                        </div>
                        <div class="col-3 h-100 align-middle justify-content-center">
                            <button type="submit" class="btn btn-danger btn-block btn-lg">Next</button>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </form>

    <h1>Table Form Example</h1>
    <form id="table-form">
        <table>
            <thead>
                <tr>
                    <th>Column 1</th>
                    <th>Column 2</th>
                    <th>Column 3</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><input type="text" name="row1col1"></td>
                    <td><input type="text" name="row1col2"></td>
                    <td><input type="text" name="row1col3"></td>
                </tr>
                <tr>
                    <td><input type="text" name="row2col1"></td>
                    <td><input type="text" name="row2col2"></td>
                    <td><input type="text" name="row2col3"></td>
                </tr>
                <tr>
                    <td><input type="text" name="row3col1"></td>
                    <td><input type="text" name="row3col2"></td>
                    <td><input type="text" name="row3col3"></td>
                </tr>
            </tbody>
        </table>
        <button type="submit">Submit</button>
    </form>
    @section scripts{
        <script>

            $(document).ready(function () {
                $('#table-form').submit(function (event) {
                    event.preventDefault();
                    var tableData = [];
                    $('table tbody tr').each(function (row, tr) {
                        var rowData = {};
                        $(tr).find('input').each(function (col, td) {
                            rowData[$(td).attr('name')] = $(td).val();
                        });
                        tableData.push(rowData);
                    });
                    console.log(tableData);
                });
            });

            $(document).ready(function () {
    jQuery.validator.addMethod("ageInRange", function (value, element) {
        return value > 0 && value < 150;
    }, 'Not allow less than 0 and bigger than 150');

    $("#newApplicationStep3").validate({
        rules: {
            newApplicationStep3Name: {
                required: true,
                maxlength: 40
            },
            newApplicationStep3Gender: {
                required: true

            },
            newApplicationStep3Age: {
                required: true,
                ageInRange: true
            },
            newApplicationStep3HKID: {
                required: true,
                maxlength: 15
            },
            newApplicationStep3PassportNo: {
                required: true,
                maxlength: 15
            }
        },
        messages: {
            newApplicationStep3Name: {
                required: "Please input Name!"
            },
            newApplicationStep3Age: {
                required: "Please input Age!"
            },
            newApplicationStep3HKID: {
                required: "Please input HKID!"
            },
            newApplicationStep3PassportNo: {
                required: "Please input PassportNo!"
            },
        }

    });
});


//For delete row

function deleteRow(r) {
    var i = r.parentNode.parentNode.rowIndex;
    document.getElementById('newApplicationStep3Table').deleteRow(i);
}
// For add row
function insRow() {
    var x = document.getElementById('newApplicationStep3Table').insertRow(document.getElementById('newApplicationStep3Table').rows.length);
    var y1 = x.insertCell(0);
    var y2 = x.insertCell(1);
    var y3 = x.insertCell(2);
    var y4 = x.insertCell(3);
    var y5 = x.insertCell(4);
    var y6 = x.insertCell(5);
    /*var y7 = x.insertCell(6);*/
    y1.innerHTML = '<td class="pt-3">@i</td>'
    y2.innerHTML = '<input class="form-control border-0 " type="text" name="newApplicationStep3Name" placeholder="Name"/>'
    y3.innerHTML = '<select class="form-control border-0 " name="newApplicationStep3Gender"><option value = "0" selected = "" disabled = "">-SELECT-</option><option value="Male">Male</option><option value="Female">Female</option><option value="Other">Other</option></select>'
    y4.innerHTML = '<input class="form-control border-0 " type="number" name="newApplicationStep3Age" placeholder="Age"/>'
    y5.innerHTML = '<input class="form-control border-0 " type="text" name="newApplicationStep3HKID" placeholder="HKID"/>'
    y6.innerHTML = '<input class="form-control border-0 " type="text" name="newApplicationStep3PassportNo" placeholder="PassportNo"/>'
    /* y7.innerhtml = '<input type="button" value="delete" onclick="deleterow(this)" />'  */

}

//for get value from row
function myFunction() {
    //for <td>
    var x = document.getElementById("newApplicationStep3Table").rows[0].cells.length;
    document.getElementById("demo").innerHTML = "Found " + x + " cells in the first td element.";
    var arr = new Array();
    //for <tr>
    //var x = document.getElementById("myTable").rows.length;
    //document.getElementById("demo").innerHTML=document.getElementById("myTable").rows[0].cells[1].innerHTML;
    //alert(document.getElementById("myTable").rows[0].cells[1].innerHTML);
    for (i = 0; i < document.getElementById("newApplicationStep3Table").rows.length; i++) {
        //s = "test-"+i;
        arr[i] = { "cell1": document.getElementById("newApplicationStep3Table").rows[i].cells[0].innerHTML, "cell2": document.getElementById("newApplicationStep3Table").rows[i].cells[1].innerHTML };
    }

    var answer = confirm("Are you sure?")
    var json = { errorCode: 1000, message: 'success', data: arr };
    if (answer) {
        alert(JSON.stringify(json));
    }
    else {

    }
}
        </script>

    }
</body>
        </html>


        @*<!DOCTYPE html>
            <html>
            <head>
                <meta charset="utf-8" />
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <title>@ViewBag.Title - My ASP.NET Application</title>
                @Styles.Render("~/Content/css")
                @Scripts.Render("~/bundles/modernizr")
            </head>
            <body>
                <div class="navbar navbar-inverse navbar-fixed-top">
                    <div class="container">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                        </div>
                        <div class="navbar-collapse collapse">
                            <ul class="nav navbar-nav">
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="container body-content">
                    @RenderBody()
                    <hr />
                    <footer>
                        <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
                    </footer>
                </div>

                @Scripts.Render("~/bundles/jquery")
                @Scripts.Render("~/bundles/bootstrap")
                @RenderSection("scripts", required: false)
            </body>
            </html>*@

